$color-nav-foot:#9ECAD6;
$icon-shop-color:#1A3D64;
body{
    direction: rtl;
}
nav{
    background-color:$color-nav-foot;
}

.fa-search{
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.4s;
}
.fa-search:hover{
    transform: scale(1.08);
     text-shadow: 0 0 4px white;
}

.btn-nav-item{
    border: 1px solid #16476A;
    border-radius: 8px;  
    padding: 0.6rem 1.2rem;
    display: flex;
    justify-content: center;
    

    
}

.btn-main-item{
    @extend .btn-nav-item;
    transition: all 0.4s;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    display: block;
    margin:0 auto;
    
}

.btn-nav-item:hover{
    background-color:$icon-shop-color;
    color: white

}

.item-nav i{
    @extend .fa-search,.btn-nav-item;

    color:$icon-shop-color;
    font-size:15px;
    
   
}

.item-nav div{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:$icon-shop-color;
    gap: 20px;
}
.btn_{
    @extend .btn-nav-item;
    padding: 0.4rem 1rem;
    font-size: 15px;
    background-color:$icon-shop-color;
    color: white;
}

.fa-bars,.fa-xmark{
    color:#435663;
   
   
}

.hambermenu{
    z-index: 1000;
    width: 300px;
    background-color:$color-nav-foot;
    transform: translateX(-100%);
    transition: all 0.4s;
 
}

.activehamber{
   transform: translateX(0);
}


.card{
    margin:100px auto;
    div{
        background-color: white;
        border: none ;
        img{
            width:70%;
            display: block;
            margin: 0 auto;
        }
    }
}

.basketshop{
    width:400px;
    z-index: 1000;
    transform:translateX(-100%);
    transition:all 0.4s;
}

.activebasket{
    transform: translateX(0) !important;
}

.basketshop{
    div{
        .h3,.fa-close{
            color:$icon-shop-color;
            transition: all 0.4s;
            cursor: pointer;
        }

    }
    .fa-close:hover{
        transform:scale(1.1);
    }
        
}

.basketshop{
    .emptybox{
        div{
            font-size:25px;
        }
    }
}

